/*  Reset  */

body, html { overflow-y: auto; overflow-x: hidden;}

/*  Global Styles  */

body {
	font-size: 1.0em;
	line-height: 1.5;
	font-family: 'Atlas Grotesk Web', serif, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	background-color: #2A2A2A;
	color: #FAFAFA;
	-moz-font-feature-settings: "liga", "kern";
	-moz-font-feature-settings:"liga=1, kern=1";
	-ms-font-feature-settings:"liga", "kern";
	-o-font-feature-settings:"liga", "kern";
	-webkit-font-feature-settings:"liga", "kern";
	font-feature-settings: "liga", "kern";
}
a {	color: rgba(245, 245, 245, 0.5); text-decoration: none; }
a:visited { color: rgba(245, 245, 245, 0.5); }
a:hover {
	color: rgba(245, 245, 245, 1.0);
	-ms-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:focus { color: rgba(245, 245, 245, 1.0); }

h1 { font-size: 1.75em; line-height: 1.35; }
h2 { font-size: 0.75em; line-height: 1.50; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.50em; }
p  { font-size: 1.00em; }

/*  Content  */

#content {
	padding: 1em;
}
.content-text {
	max-width: 600px;
	margin-top: 40px;
	overflow: auto;
}
.content-text p {
	font-size: 1.2em;
	line-height: 1.5;
	margin-bottom: 0.5em;
}
.content-about {
	max-width: 1130px;
}
.content-about p {
	max-width: 610px;
	font-size: 1.25em;
	line-height: 1.35;
	margin-bottom: 0.625em;
}
.project-meta {
	width: 100%;
	margin-bottom: 12em;
}
.project-meta-col {
	width: 40%;
	padding-right: 10%;
	float: left;
	display: inline-block;
}
.project-meta-col h4 {
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 0.01em;
	margin-bottom: 0.2em;
}
.project-meta-col p {
	padding-top: 0.2em;
	margin-top: 0em;
}

/*
.project-meta h2 {
	font-size: ;
	color: blue;()
}
.address {
	margin: 2em 0px;
}

/*  Navigation  */

.close {
	font-size: 2em;
}
.primary a {
	color: rgba(245, 245, 245, 1.0);
}
.primary a:hover {
	color: rgba(245, 245, 245, 0.5);
}
.logo a {
	color: rgba(245, 245, 245, 1.0);
}
.logo a:hover {
	color: rgba(245, 245, 245, 0.5);
}

/*  Slideshow  */

.hero {
	width: 100%;
	height: 220px;
	background-color: #1B1B1B;
}
.a-slide {
	height: 100%;
	width: 100%;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.slick-slider {
	height: 100%;
}
.slick-list,
.slick-track {
	height: 100%;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}
.slick-dots {
	bottom: -30px;
	font-size: 0.9em;
	text-align: right;
}
.slick-track:hover {
	cursor: pointer;
}

/*  Video  */

.content-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.content-video iframe,
.content-video object,
.content-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*  Responsive Images  */


	/*img {
		height: auto;
		max-width: 100%;
		width: 100%;
	}*/


/*  Desktop Responsiveness  */

@media screen and (min-width: 400px){

	h1 { font-size: 1.75em; line-height: 1.35; }
	.hero { height: 280px; }
	.logo { font-size: 1.2em; }
	.content-text { max-width: 500px; }
}

@media screen and (min-width: 500px){

	#content { padding: 2em; }
	.hero { height: 360px; }

}

@media screen and (min-width: 768px){

	h1 {
		font-size: 2.25em;
		line-height: 1.5;
	}

	#frame-top {
		top: 0;
		position: fixed;
		width: 100%;
		height: 2em;
		z-index: 999;
		background-color: #2A2A2A;
	}
	#frame-bottom {
		bottom: 0;
		position: fixed;
		width: 100%;
		height: 2em;
		z-index: 999;
		background-color: #2A2A2A;
	}

	.hero { height: 70vh; }

	.content-hero {
		height: 70vh;
		width: 100%;
		max-width:1000px;
		height: 600px;
		background: #1A1A1A;
		margin:auto;
	}

	.content-text { max-width: 600px; }

	.close {
		line-height: 1;
	}

}

@media screen and (min-width: 1024px){
	.hero { height: 75vh; }
}

@media screen and (min-width: 1800px){
	.logo { font-size: 1.3em; }
}

/*  Basta  */
