/* ============

Global Styles...

=============== */

body {
	font-family: "Atlas Grotesk Web", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-color: #1a1a1a;
	color: #FAFAFA;
  padding: 35px 0;
}

a { color: rgba(245, 245, 245, 0.5); text-decoration: none; }
a:visited { color: rgba(245, 245, 245, 0.5); }
a:hover {
	color: rgba(245, 245, 245, 1.0);
	-ms-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:focus { color: rgba(245, 245, 245, 1.0); }

h1 {
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.35;
}

h2 { font-size: 2.0em; font-weight: 300;}
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
p  { font-size: 1.0em; }

/* ============

Header Styles...

=============== */

header#logo {
  color: #fff;
  font-size: 2.6em;
  font-weight: 900;
  letter-spacing: 0.01em;
  line-height: 1.35em;
  margin-bottom: 10px;
  margin-top: 20px;
}
header#logo a {
  color: #fff;
  display: block;
  line-height: 1.08em;
}

/* ============

Navigation Styles...

=============== */

#main-nav {
  height: 100%;
  position: fixed;
  z-index: 999;
  width: 100%;
  overflow: hidden;
}
#content-navigation > li {
  display: inline-block;
  font-size: 1.7em;
  letter-spacing: 0.06em;
  line-height: 1.15em;
  margin-bottom: 0;
  width: 100%;
}
#content-navigation > li a {
 color:#878380;
 font-weight: 500;
}
#content-navigation li a.active, #content-navigation li a:hover {
  color: #fff;
}
#mobile-menu-trigger {
    color: #878380;
    display: none;
    float: right;
    font-size: 0.6em;
    font-weight: 400;
    margin-top: -50px;
}
header#logo #mobile-menu-trigger a {
    color: #878380;
}
header#logo #mobile-menu-trigger a:hover {
    color: #FFF;
}

/* ============

Content Styles...

=============== */

.hero {
    margin-bottom: -48px;
    z-index: -1;
}

.content-main {
    position: relative;
    padding-top: 23px;
}

.content-main h1:first-child {
    font-size: 2.6em;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 25px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.content-main p {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.5em;
}

/* ============

Projects only...

=============== */

#projects {
    margin-top: 140px;
}
#projects li {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.03em;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#projects li a.active {
    color: #fff;
}
#project-wrapper img {
    border: 2px solid #ccc;
    display: block;
    margin: 20px auto 30px;
    padding: 10px;
    max-width: 100%;
}
#project-details {
    font-size: 0.75em;
    margin-top: 60px;
}
#project-details h3 {
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.1em;
    margin-bottom: 0;
}
#project-details a {
    color: #fff;
    text-decoration: underline;
}

/* ============

Content replated code...

=============== */

.content-text {
	max-width: 800px;
	font-weight: 1.25em;
}
.content-text h1 { }
.content-text h2 { }
.content-text p {
	font-weight: 300;
	font-size: 1.25em;
	line-height: 1.35;
	margin-bottom: 0.625em;
}
.content-text {
	max-width: 800px;
	font-weight: 1.25em;
}
.content-about {
	max-width: 1130px;
}
.content-about p {
	max-width: 610px;
	font-size: 1.25em;
	line-height: 1.35;
	margin-bottom: 0.625em;
}
.address {
	margin: 2em 0px;
}
.close {
	font-size: 2em;
}
.primary a {
	color: rgba(245, 245, 245, 1.0);
}
.primary a:hover {
	color: rgba(245, 245, 245, 0.5);
}
.secondary a {
	color: rgba(245, 245, 245, 1.0);
}
.secondary a:hover {
	color: rgba(245, 245, 245, 0.5);
}

/* ============

Slideshow Styles...

=============== */

.hero{
	width: 100%;
	height: 220px;
}
.a-slide{
	height: 100%;
	width: 100%;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.slick-slider{
	height: 100%;
}
.slick-list,
.slick-track {
	height: 100%;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    color: #fff;
    font-size: 0.9em;
    right: 20px;
    text-align: right;
    top: 10px;
}

.slick-dots a {
    color: #fff;
    font-size: 1.9em;
    font-weight: 600;
    opacity: 0.7;
}

.slick-active a {
	opacity: 1;
}

.slick-track:hover {
	cursor: pointer;
}


/* ============

Responsive and mobile

=============== */

@media screen and (min-width: 400px){
	h1 { font-size: 2.5em; line-height: 1.35; font-weight: 300; }
	.hero { height: 280px; }
	.secondary { font-size: 1.2em; }
}

@media screen and (min-width: 500px){
  .hero { 
  	height: 360px; 
  }
}

@media screen and (min-width: 768px){

	h1 { font-size: 3.0em; line-height: 1.35; font-weight: 300; }

	#frame-top {
		top: 0;
		position: fixed;
		width: 100%;
		height: 2em;
		z-index: 999;
		background-color: #2A2A2A;
	}
	#frame-bottom {
		bottom: 0;
		position: fixed;
		width: 100%;
		height: 2em;
		z-index: 999;
		background-color: #2A2A2A;
	}

	.hero { height: 70vh; }

	.content-hero {
		height: 70vh;
		width: 100%;
		max-width:1000px;
		height: 600px;
		background: #1A1A1A;
		margin:auto;
	}

	.close {
		line-height: 1;
	}

}

@media screen and (min-width: 1024px){
	.hero { height: 75vh; }
}

@media screen and (min-width: 1800px){
	.secondary { font-size: 1.3em; }
}


/* Larger than Desktop HD */
@media (min-width: 1800px) {
  body .columns.offset-by-one-and-a-bit {
    margin-left: 8.5%;
  }
}

/* Larger than desktop */
@media (min-width: 1301px) and (max-width: 1400px)  {
  body .columns.offset-by-one-and-a-bit {
    margin-left: 9.6%;
  }
}

/* Larger than desktop */
@media (min-width: 1200px) and (max-width: 1300px)  {
	body .columns.offset-by-one-and-a-bit {
		margin-left: 10.6%;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) and (max-width: 1199px)  {
	body .columns.offset-by-one-and-a-bit {
		margin-left: 12.333%;
	}
}

/* Larger than tablet */
@media (min-width: 820px) and (max-width: 999px) {
	body .columns.offset-by-one-and-a-bit {
		margin-left: 13.55%;
	}
}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 819px) {
	body .columns.offset-by-one-and-a-bit {
		margin-left: 16.55%;
	}
}

/* Everything below mobile */
@media (max-width: 749px) {
  #mobile-menu-trigger {
    display: block;
  }
	#navigation-parts {
    background: #1a1a1a none repeat scroll 0 0;
    height: 100%;
    padding-right: 10%;
    display: none;
    position: absolute;
    text-align: right;
    z-index: 9999;
	}
	#navigation-parts {
		right:-10px;
	}
	#project-wrapper {
    margin-left: 0;
    width: 100%;
}
	body .columns.offset-by-one-and-a-bit {
    float: none;
    margin: 0 auto;
  }

  #main-nav {
    display: block;
    float: none;
    height: 100%;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    position: inherit;
    width: 82.6667%;
    z-index: 999;
  }

  .hero {
    margin-bottom: -48px;
    z-index: -1;
  }

}

/* Up to phablet (also point when grid becomes active) */
@media (min-width: 401px) and (max-width: 749px) {
	

  
}


/* Mobile only */
@media (max-width: 400px) {
  header#logo {
    font-size: 2.2em;
  }
}



/* ============

@Font Faces...

=============== */


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('/fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('/fonts/AtlasGrotesk-Regular-Web.woff') format('woff'),
     url('/fonts/AtlasGrotesk-Regular-Web.ttf') format('truetype'),
     url('/fonts/AtlasGrotesk-Regular-Web.svg#AtlasGrotesk-Regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}
